/* css style for documentation popups when hovering over scopes with the "dynamic" DocsPopupStyle setting */
body {
	font-family: system;
	margin: 0;
	padding: 0.35rem;
	border: 0.15rem solid rgb(0, 122, 153);
	background-color: rgb(10, 10, 10);
}
p {
	font-size: 1.0rem;
	margin: 0;
}